[submodule "external/wxWidgets"]
	path = external/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "external/libgit2"]
	path = external/libgit2
	url = https://github.com/libgit2/libgit2.git
